/* red.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff0f0;
    color: #333333;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #cc0000;
    border-bottom: 3px solid #cc0000;
    text-transform: uppercase;
    padding-bottom: 5px;
}


section, div {
    background-color: #ffffff;
    border: 2px solid #ff9999;
    padding: 15px;
    margin-bottom: 20px;
    
    box-shadow: 6px 6px 0px #cc0000; 
}

ul {
    list-style-type: square;
    color: #990000;
}